.home {
  top: 0;
}
.btnn {
  font-size: 25px;

  border: 0px;
  position: absolute;
  float: right;
  margin: 10px;
  padding: 0 0.62em;
  font-weight: bold;
  background: #000;
  border-radius: 7px;
  color: #ffffff;
  box-shadow: 2px 5px 8px #000;
}
