.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn
{
  display: inline-block;
  line-height: 1.4em;
  font-size: 25px;
  border: 0px;
  float: right;
  margin: 30px;
  padding: 0 0.62em;
  font-weight: bold;
  background: #000;
  border-radius: 7px;
  color: #ffffff;
  box-shadow: 0px 3px 0px #00BCD4,2px 5px 8px #000;
  margin-bottom: 10px;
}

.add{
  border-radius: 15px;
  padding: 0px 10px;
  float: right;
  box-shadow: 1px 1px 3px #000;
  margin: 0px 0px 15px 0px;
}

.setimg{
  
  height: 300px;
}

.cuscard{
  background: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  border: 1px solid rgb(231, 228, 235);
  box-shadow: 0px 3px 0px #2000d4,2px 5px 8px rgb(59, 59, 59);
}